
.user {

    background: #FFFFFF;
    box-shadow: 0 0 4px 0 rgba(172,172,172,0.50);
    border-radius: 5px;
    margin: 35px 17px 17px 17px;
    padding-bottom: 28px;

    &__top {
        display: flex;
    }

    &__photo {
        display: inline-block;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: gray;
        margin: 20px;
        overflow: hidden;
    }

    &__img {
        height: 70px;
        width: 70px;
    }

    &__details {
        display: flex;
        align-items: center;
    }
    &__detail {
        margin: 0;
    }

    &__name {
        margin: 0;
        font-family: Montserrat-Regular;
        font-size: 18px;
        color: #002C71;
        letter-spacing: 0;
        font-weight: bold;
    }
    &__address {
        margin: 0;
        font-family: Montserrat-Regular;
        font-size: 12px;
        color: #8298B9;
        letter-spacing: 0;
    }

    &__bottom {
        display: flex;
        margin-left: 21px;
        margin-right: 22px;
    }

    &__stats {
        flex-grow: 1;
        text-align: center;
    }

    &__stat {
        margin: 0;
        font-family: Montserrat-Regular;
        font-size: 24px;
        color: #FFA640;
        letter-spacing: 0;
    }

    &__stat-description {
        margin: 0;
        font-family: Montserrat-Regular;
        font-size: 10px;
        color: #343E00;
        letter-spacing: 0;
    }
    &__follow {
        cursor: pointer;
        flex-grow: 1;
        background: #FFA640;
        border-radius: 100px;
        font-family: Montserrat-SemiBold;
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 4px;
        text-align: center;
        display: flex;
        align-items: center;
        font-weight: 600;
        height: 46px;
    }

    &__follow-text {
        user-select: none;
        font-weight: 18px;
        width: 100%;
        line-height: 0;
        transform: translateY(-50%);
    }

    &__following {

    }

    &__followers {

    }
}

.svg {
    &-share {
        position: absolute;
        right: 27px;
        fill: #FFA640;
        top: 46px;
        cursor: pointer;
        width: 10px;
        height: 10px;
    }

    &-hearth {
        stroke-width: 5;
        stroke:  #D3D3D3;
        width: 12px;
        height: 10px;
        fill: #D3D3D3;
        position: relative;
        left: 10px;
        color: #8298B9;
        user-select: none;
        cursor: pointer;
    }
}


.vertical-line {
    width: 1px;
    opacity: 0.1;
    background: gray;
}

@media only screen and (max-width: 800px) {
    .user {

        padding-bottom: 17px;
        
        &__top {
            padding-top: 38px;
        }

        &__photo {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            margin: 0;
            top: -10px;
        }

        &__details {
            width: 100%;
        }

        &__detail {
            width: 100%;
            text-align: center;
        }

        &__bottom {
            flex-wrap: wrap;
            padding-top: 35px;
            min-width: 10px;

        }

        &__follow { 
            flex-basis: 100%;
            width: 100%;
            margin-top: 21px;
        }

        &__share {

        }


    }
}