.profile {
    //background:linear-gradient(blue 95px, transparent 95px);
    &::after {
        content:"";
        background:#002C71 100%;
        position:fixed;
        top:0;
        bottom: calc(100% - 95px);
        right:0;
        left:0;
        z-index:-1;
    }
    
    &__about {

        
    }
}
