.comment-list {
    list-style-type: none;
    padding-right: 50px;
    height: 230px;
    overflow-y: scroll;
    margin-bottom: 0px;
    
}

.comment-separator {
    /*height: 1px;
    background: #EBEBEB;
    opacity: 0.3;
    position: absolute;
    left: 0;
    right: 0;*/
}